.container {
  display: flex;
  flex-direction: row;
  min-height: 0;
  background: #f0f2f5;
  :global(.ant-menu-root.ant-menu-inline) {
    margin-right: 20px;
  }
  :global(.ant-layout-content) {
    padding: 0;
  }
}