.container {
  display: flex;
  flex-direction: row;
  min-height: 0;
  background: #f0f2f5;
  :global {
    .ant-menu-root.ant-menu-vertical {
      .ant-menu-item { padding-right: 20px; }
      margin-right: 20px;
    }
    .ant-layout-content {
      padding: 0;
    }
  }
}