.container {
  :global(.ant-layout-header) {
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    :global {
      .ant-menu {
        flex: 1;
      }
      .ant-btn:last-of-type {
        margin-right: 20px;
      }
    }
  }
  .content {
    height: 100vh;
    padding: 84px 20px 20px;
    overflow-y: auto;
    box-sizing: border-box;
  }
}
